// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}